
			<p>
				<ol>
  					<li>Sync daily by 3PM or forfeit your fuel points for the prior day</li>
  					<li>Once the challenge has begun, there is no turning back</li>
  					<li>Payout 7 days after the challenge ends</li>
  					<li>5% of payout is retained by FITJAR</li>
				</ol>
			</p>

