<section class="aboutus">
	<div class="max-width has-padding">
		<h1>Hello and welcome to FITJAR</h1>
		<div class="message">
			

			<p>
				FITJAR CHALLENGE
			Get Fit, Get Paid!
			Compete for cash with friends, powered by Nike+ FuelBand.
			PURPOSE
			Our purpose is to encourage healthy long-term behavioral change thru habit formation.  Fitness challenges become a little more interesting once you put money on the line.  We provide a community where you can chat with your friends and family whether it'd be motivational support or smack talking.
			FITJAR enables you to bring your friends and family together for a friendly competition, whether it's a 7 day challenge or a 21 day challenge, those involved get more fit, some get paid. Its a gateway to overall health and well-being.
			</p>
	<p>Idea
				One day I sat beside an older gentleman and told him I felt old.
				He asked me: " how old are you?.
				I replied: "25 years old, you know, a quarter century!."
				He said:  "Hahahahaha.  Why don't you do something crazy before you really get old,  like ride your bike to San Diego."
				I thought it was a crazy idea, so my friend Dean and I bought better bikes and rode for 13 hours tow San Diego. We couldn't sit the next day and was sunburn on only one side of our faces. It was an awesome experience. These rides led to better habits: less junk food, more green drinks, and dramatic decrease of "vices" (leading to the creation of VICEJAR).
				Later that year, I created a cycling team to ride in the American Diabetes Association 's Tour De Cure. We raised a lot of money for charity that year and created awareness but most importantly, accidentally, we created a movement and a community. The team of 4 became a team of 50 by the 3rd year. Me and Dean made friendly wagers for "Inn & Out" burgers for the first person to make it up the top of the peak during raining rides. We loved cycling and these small wagers made things a bit more interesting.
				Through my life I've always made small wagers to make things more interesting, not always monetary, sometimes for shots, burgers, bottles, and dares.  The motivation is to always get fit but have fun doing so.
			</p>
	</div>
		<div class="row bio-main">
			<div class="col-md-3 info">
				<%= image_tag "https://dl.dropboxusercontent.com/s/s2z0wh48tw9vzxq/jax_millennial_size.jpg" %>
				<div class="name">
					<h4>Jackson Quach</h4>
					<h5>Co-Founder</h5>
					<%= mail_to "jackson@fitjar.co" do %>jackson@fitjar.co<% end %>
					<%= link_to image_tag("https://dl.dropboxusercontent.com/s/g155wh92mrvdibg/followme.png"), "http://www.twitter.com/jackson_quach" %>
				</div>
			</div>
			
			<div class="col-md-8 details">
				<p> Jackson 
					Jackson worked inSusie graduated with a doctorate in pharmacy but after attending a tech event in New York, she decided to launch her own company instead of working in the medical field.<br><br>Her experience co-founding a social selling platform for STEM-inspired toys helped her realize she needed to learn technical skills to further build out her ideas. However, the lack of practical web development resources led to the inspration for BaseRails as a resource where anyone can learn to build out their idea.<br><br>She has previously taught a 4-week course at DUMBO Incubator NYC to help students learn the customer development methodology.
		        </p>
			</div>
		</div>
</section>

<br>
<br>
<br>
