<h1> test</h1>

<div class="jumbotron">
  <div class="container">
    <div class="center">
      <h1>GET FIT, GET PAID!</h1>
      <h2>Fitness Competition for Cash with Friends & Family</h2>
       <h3>Powered By: FitBit, Jawbone UP, Nike+ FuelBand</h3>
      <p><a class="btn btn-success btn-lg" role="button">Compete Now</a></p>
    </div>
  </div>  
</div>



<h5>As Seen On </h5>
<div class="row">
      <div class="col-xs-6 col-md-3">
        <a href="https://dl.dropboxusercontent.com/home/Apps/FITJAR%202" class="thumbnail">
          <img data-src="https://dl.dropboxusercontent.com/s/dwbwk8nacm0k68z/hbo.jpg" alt="https://dl.dropboxusercontent.com/s/dwbwk8nacm0k68z/hbo.jpg">
        </a>
      </div>

      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img data-src="https://dl.dropboxusercontent.com/home/Apps/FITJAR%202" alt="...">
        </a>
      </div>

      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img data-src="holder.js/100%x180" alt="...">
        </a>
      </div>

      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img data-src="holder.js/100%x180" alt="...">
        </a>
      </div>
</div>

<div class="center">
    <div class="fb-like" data-href="http://glacial-sierra-7811.herokuapp.com/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
    </div>
</div>



<!-- <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
 
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

 


  <div class="carousel-inner">
    <div class="item active">
      <img src="https://dl.dropboxusercontent.com/s/n8w9l6s88551dfq/jumbotron.jpg" alt="https://dl.dropboxusercontent.com/s/n8w9l6s88551dfq/jumbotron.jpg">
      <div class="carousel-caption">
        <h1>GET FIT, GET PAID!</h1>
  <h3>A Fitness Competition with Friends & Family</h3>
  <p><a class="btn btn-primary btn-lg" role="button">Compete Now</a></p>
      </div>
    </div>
    ...
  </div>


  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
   -->