<section class="aboutus">
	<div class="max-width has-padding">
		<h1 class="center">RULES OF THE GAME</h1>
		<h4>These rules are governed by the Terms & Privacy</h4>
		<div class="message">
			<%= render 'rulesPartial' %>
		</div>	
	</div>	

<br>
<br>
<br>
</section>


<br>
<br>
<br>