


<section class="aboutus">
	<div class="max-width has-padding">
		<h1>Hello and welcome to FITJAR</h1>
		<div class="message">
			

			<p>
			 These rules are governed by the Terms & Agreements
				1. Sync daily by 3PM or forfeit your fuel points for the prior day
				2. once the challenge has begun, there is no turning back
				3. Payout 7 days after the challenge ends
				4. 5% of payout is retained by FITJAR
			</p>

<br>
<br>
<br>