<!--pregame-->
  
  <table class="table table-bordered">

<div class="center-block">
  <dl class="dl-horizontal">
    <dt><h4> Players Signed Up: </h4></dt>
    <dd><h4> List of Emails....</h4></dd>
    <dt><h4> Who Else Is Game?: </h4></dt>
      <dd>
        <div class="col-xs-4">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="john@gmail.com">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Invite</button>

             
            </span>
          </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
      </dd>

     <dt><h4> Challenge Amount: </h4></dt>
      <dd>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
            Dropdown
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="$50">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">$25</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">$50</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">$75</a></li>
             <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Other</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
          </ul>
        </div>

        <div class="input-group">
          <span class="input-group-addon">$</span>
          <input type="text" class="form-control">
          <span class="input-group-addon">.00</span>
        </div>

      </dd>

        <dt><h4> Change of Plans: </h4></dt>
          <dd>
            <div class="col-xs-2"><input type="text" class="form-control" placeholder="Date">
            </div>
            <i class ="glyphicon glyphicon-calendar"></i>
          </dd>
          <dt><h4> Device:</h4></dt>
  </dl>
</div>
  
  </table>