<div class="container">
	<h1 class = "center">Edit Your Challenge</h1><br>

	<%= render 'form' %>
	
	<ul class= "pager">
		<li><%= link_to 'Show', @challenge, class: "btn pager" %></li>
		<li><%= link_to 'Back', challenges_path, class: "btn btn-link" %></li>
	</ul>
</div>