<div class="container">
	<h1 class = "center">Edit Your Challenge</h1><br>

	<%= render 'form' %>
	
	 <ul class= "pager">
           <li class="previous"><%= link_to "&larr; Back".html_safe, challenges_path %></li>
           
      </ul>
</div>