<div class="container"> 
	<h1 class = "center">CREATE A NEW FITNESS CHALLENGE</h1>

	<%= render 'form' %>


	  <ul class= "pager">
           <li class="previous"><%= link_to "&larr; Back".html_safe, challenges_path %></li>
      </ul>
</div>
