<div class="container"> 
	<h1 class = "center">CREATE A NEW FITNESS CHALLENGE</h1>

	<%= render 'form' %>


	 <ul class= "pager pull-right">
          <li><%= link_to 'Back', challenges_path %></li>
      </ul>
</div>
