@import "bootstrap";
@import 'bootstrap-datetimepicker';
/*@font-family-base*/

body {
  background-color: #F9FAFA;
  color: #333333;
  font-family: 'Oswald', sans-serif;
}

/*COLOR STUFF THIS SECTION IS TO DESSIGN THE SECTION BETWEEN THE OLD AND THE NEW*/




/*BUTTONS FOR THE BODY & BOTTOM PART CALL TO ACTION*/
    .btn-outline-inverse {
    color: #fff;
    background-color: transparent;
    border-color: #ff0000;
    font-color: #563d7c;
    font-family: 'Oswald', sans-serif;
    }

    .btn-outline {
    color: #563d7c;
    background-color: transparent;
    border-color: #ff0000;
    font-color: #563d7c;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    }

.accepted{
background-image: url('https://dl.dropboxusercontent.com/s/5qqobps6h75jy9i/guy%20with%20abs%20%281%29.jpg');
/*NEED TO PUT OPACITY ON THE PICTURE BEFORE YOU UPLOAD, BECAUSE OF BUTTON ISSUE*/
opacity: .6;
position: absolute;
width: 100%;
height: 188px;
margin-top: -51px;

h1{
  font-size: 18;
  font-family: 'Oswald', sans-serif;
  color: #FFFFFF;
  position:center;
  }
}

.container-black{
color: #FFFFFF;
background-color: #111111;
border-color: #ff0000;

}

.jumbotron {
  background-image: url('https://dl.dropboxusercontent.com/s/5qqobps6h75jy9i/guy%20with%20abs%20%281%29.jpg');
  height:480px;
  h1{
      font-family: 'Oswald', sans-serif;
        color: #FFFFFF;
   
  }

  h2, h3 {
  font-family: 'Oswald', sans-serif;
  padding: 8px;
  margin: 0 auto;
  word-spacing: 5px;
  font-weight: 100;
  color: #FFFFFF;
  }

}

/*NAVIGATION BAR*/

.navbar-default {
  background-color: #111111;
  font-family: 'Oswald', sans-serif;

}

.navbar-default .navbar-brand {
 font-family: 'Oswald', sans-serif;
  word-spacing: 5px;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 30px;

}

.navbar-default .navbar-nav > li > a {
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #0192B5;
  background-color: #111111;
}

.site-footer{

  font-color:#dddddd;
   bottom:0px;
   height:10px;
   width:100%;
   background-color: #FFFFFF;
   font-family: 'Oswald', sans-serif;
   padding-bottom: 10px;

}




.center {
  text-align: center;
}

/*ARENA PAGE*/
.col-md-3:nth-child(4n+1) {
  clear: left;
}

.col-md-6 {
  h3 {
    font-size: 45px;
  }
  h5 {
    font-size: 25px;
  }
  p {
    font-size: 18px;
  }
}

.caption {
  h3 {
    font-size: 17px;
    margin: 2px;
  }
  p {
    font-size: 15px;
    margin: 0px;
  }
}