<div class="jumbotron">
  <div class="max-width has-padding">
    <div class="containertagline center">
      <div class="section-header center">
         <h1>GET FIT, GET PAID!</h1><br>
           <h2>Fitness Competition for Cash with Friends & Family</h2>
            <h3>Powered By: FitBit, Jawbone UP, Nike+ FuelBand</h3>
              <div class="marketplaceproject">
                <a class="btn btn-lg btn-default center" data-no-turbolink="true" href="/users/sign_up">Start free trial</a>
                <a class="btn btn-lg btn-success center" data-no-turbolink="true" href="/#step1">How it works</a>
              </div>
      </div>
    </div>
  </div>
</div>