  <footer class="site-footer">
	<div class="container">
		<div class="footer-links center">
			<a href="/about">About us</a>
			<a href="/marketplace">Course Syllabus</a>
			<a href="/stories">Student projects</a>
			<a href="/blog">Blog</a>
			<a href="mailto:susie@baserails.com">
			  Contact
</a>		</div>
		<div class="social center">
			<a href="http://www.twitter.com/baserails"><img alt="Twitter" src="https://dl.dropboxusercontent.com/s/onv8sst20hjsqrn/twitter.png" /></a>
			<a href="https://www.facebook.com/baserails"><img alt="Facebook" src="https://dl.dropboxusercontent.com/s/99aqgtpqitvo9vs/facebook.png" /></a>
		</div>
		<p class="copyright center">Copyright © 2014 BaseRails</p>
	</div>
</footer>